Dear <%= @name %>,

Thanks for signing up!
This system will simplify your coffee breaks by registering your purchases.

Please check the following informations:

Name: <%= @name %>
Camipro: <%= @camipro %>

Have a nice day