<h1>New purchase</h1>

<p>You are identified as <%=h @user.name %>. Your balance is <%=h @balance %>. What would you like to buy?</p>
  <% for product in @products %>
<p><%= link_to product.name, :action => 'create', :product_id => product.id, :user_id => @user.id %></p>
<% end %> 
<%= link_to 'Back', :controller => 'users', :action => 'list' %>
