<div style="text-align:center; margin-top: 100px;">
<span class="shotbutton">
<%= link_to "Yeah, keep it!", :action => "save", :id => @user %>
</span>

<img src="/images/people/snap.jpg"/>
<span class="shotbutton">
<%= link_to "Please... Let me try again!", :action => "index", :id => @user %>
</span>
</div>
