<%= error_messages_for 'product' %>

<!--[form:product]-->
<p><label for="product_name">Name</label><br/>
<%= text_field 'product', 'name'  %></p>

<p><label for="product_picture">Picture</label><br/>
<%= text_field 'product', 'picture'  %></p>

<p><label for="product_cost">Cost</label><br/>
<%= text_field 'product', 'cost' %></p>

<p><label for="product_stock">Stock</label><br/>
<%= text_field 'product', 'stock' %></p>
<!--[eoform:product]-->

